@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_CustomerLayoutHeaderPartial");

<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            @await Component.InvokeAsync("_CustomerLayoutSidebarPartial");
            <!-- top navigation -->
            @await Component.InvokeAsync("_CustomerLayoutNavigationPartial");
            <!-- /top navigation -->
            <!-- page content -->
            <div class="" role="main">
                <h3>@RenderBody()</h3>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            @await Component.InvokeAsync("_CustomerLayoutFooterPartial");
            <!-- /footer content -->
        </div>
    </div>

    @await Component.InvokeAsync("_CustomerLayoutScriptPartial");
</body>
</html>